.main{
    background: #efefef;
}

.body{
    background: white;
    margin: 30px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.btn-comment{
    float: right;
    margin: 8px;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.question-tag {
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    white-space: normal;
    display: inline-block;
}
.question-related {
    padding-left: 0;
    list-style: none;
    line-height: 20px;
    font-size: 13px;
}

.community-menu{
    color: #999;
    font-size: 13px;
}
.comment{
    margin: 10px 0;
}
.sub-comments {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #eee;
    padding-top: 10px;
    padding-right: 35px;
}
.sub-comments .btn {
    margin: 10px 0;
}

.menu {
    color: #999;
}
.menu .icon {
    margin-left: 12px;
    margin-top: 8px;
    cursor: pointer;
}
.menu .active {
    color: #499e3f;
}
.menu .icon:hover{
    color: #499ef3;
}

.image-ad {
    width: 100%;
}
